@charset "utf-8";


	/*#b {display: none;}*/

	html {background-color: #dfdfe5}
	#title_bar {position:fixed; top: 0; left: 0; width: 100%; height: 60px; padding-top: 20px; box-sizing: border-box; z-index: 99}
	#title_bar {background-color: #21e0ed; background-size:cover;}

	h1 {text-align: center; margin: 0; color: #000;}
	h3 {text-align: center; margin: 0; padding-top: 20px;}

	#menu {
		width: 100%;
		max-width: 350px;
		background-color: rgba(183, 183, 183);
		margin-top: 0px;
		box-sizing: border-box;
		border: 2px solid #000;
		position: relative;
		margin-left: auto; margin-right: auto;
		padding: 5px;
	}
	#menu:after {content: ""; display: table; clear: both;}


	.content {position: relative;}
	.content {float: left; width: 50%;}
	.content #price {width: 100%; position: relative;}

	.content #price p {margin: 0; text-align: right}
	.content #price p:first-child {
							border-bottom: 1px solid #000;
							padding-bottom: 2px;
						}
	.content #price p:nth-child(2) {
							border-bottom: 1px solid #000;
							padding: 2px 0px;
						}
	.content #price p:last-child {padding-top: 2px;}


	.content #items {float: left; width: 100%;}
	.content #items p {margin: 0;}

	.content #items p:first-child {
							border-bottom: 1px solid #000;
							padding-bottom: 2px;
						}
	.content #items p:nth-child(2) {
							border-bottom: 1px solid #000;
							padding: 2px 0px;
						}
	.content #items p:last-child {padding-top: 2px;}

	.content div p {font-size: 20px; color: #3719cf;}



	#prompt {
		/*margin-top: 0px;*/
		box-sizing: border-box;
	}

	a#order-button {
		text-decoration: none;
		color: #fff;
		background-color: #3719cf;
		font-size: 24px;
		padding: 5px 20px;
		font-family: Helvetica, Arial, "sans-serif";
		border-radius: 7px;
		border: 1px solid #dfdfe5;
		display:block;
		width: 180px;
		text-align:center;
		position: relative;
		margin-left: auto; margin-right: auto;
		box-sizing: border-box;
	}
	a#order-button:hover {
		color: #21e0ed;
		background-color: #3719cf;
		border: 1px solid #3719cf;
	}

	#prompt2 {
		margin-top: 5px;
		width: 100%;
		position: relative;
		/*bottom: 0;*/
		/*left: 0;
		right: 0;*/
		margin-left: auto; margin-right: auto;

		/*top: 5px;*/
		padding: 5px 10px;
		box-sizing: border-box;
		text-align: center;
		height: 50px;
		display:none;

	}
	/*#prompt2 a {
		display:inline-block;
	}*/
	#prompt2 a {
		text-decoration: none;
		color: #fff;
		background-color: #3719cf;
		font-size: 18px;
		padding: 5px 20px;
		font-family: Helvetica, Arial, "sans-serif";
		border-radius: 7px;
		border: 1px solid #dfdfe5;
		display:inline-block;
		width: 150px;
		text-align:center;
		/*position: relative;*/
		margin-left: auto; margin-right: auto;
		box-sizing: border-box;

		/*margin-top:;*/
	}
	#prompt2 a:hover {
		color: #21e0ed;
		background-color: #3719cf;
		border: 1px solid #3719cf;
	}
	

	/*#prompt2 #submit {
		text-decoration: none;
		color: #fff;
		background-color: #3719cf;
		font-size: 18px;
		padding: 5px 20px;
		font-family: Helvetica, Arial, "sans-serif";
		border-radius: 7px;
		border: 1px solid #dfdfe5;
		display:none;
		width: 150px;
		text-align:center;
		position: relative;
		margin-left: auto; margin-right: auto;
		box-sizing: border-box;
	}
	#prompt2 #submit:hover {
		color: #21e0ed;
		background-color: #3719cf;
		border: 1px solid #3719cf;
	}*/


	#order_title {display:none; margin-top:40px;}

	#output_chart {
		display: none;
		width: 100%;
		max-width: 350px;
		background-color: rgba(183, 183, 183);
		margin-top: 0px;
		box-sizing: border-box;
		border: 2px solid #000;
		position: relative; top: 5px;
		margin-left: auto; margin-right: auto;
		padding: 5px;
		/*height: 250px;*/
	}
	#output_chart:after {content: ""; display: table; clear: both;}


	.order {position: relative;}
	.order {float: left; width: 50%;}
	.order #right_col {width: 100%; position: relative;}

	.order #right_col p {margin: 0; text-align: right}

	.order #right_col #hotdogs {
						display: none;
						border-bottom: 1px solid #000;
						padding-bottom: 2px;
					}
	.order #right_col #fries {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #right_col #drinks {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #right_col #subtotal {
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #right_col #discountR {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #right_col #tax {
						border-bottom: 4px solid #000;
						padding: 2px 0px;
					}
	.order #right_col #total {padding-top: 2px;}
	/*.order #right_col p:first-child {
						border-bottom: 1px solid #000;
						padding-bottom: 2px;
					}
	.order #right_col p:nth-child(2) {
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #right_col p:last-child {padding-top: 2px;}*/


	.order #left_col {float: left; width: 100%;}
	.order #left_col p {margin: 0;}

	.order #left_col #HotdogsL {
						display: none;
						border-bottom: 1px solid #000;
						padding-bottom: 2px;
					}
	.order #left_col #FriesL {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #left_col #DrinksL {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #left_col #SubtotalL {
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #left_col #DiscountL {
						display: none;
						border-bottom: 1px solid #000;
						padding: 2px 0px;
					}
	.order #left_col #TaxL {
						border-bottom: 4px solid #000;
						padding: 2px 0px;
					}
	.order #left_col #TotalL {padding-top: 2px;}

	.order div p {font-size: 20px; color: #3719cf;}


	@media (max-width: 450px) {
		#menu {width:255px;}
		#menu .content {width:120px;}

		#output_chart {width:255px;}
		#output_chart .order {width:120px;}
		}
	@media (max-width: 350px) {
		#menu {width:215px;}
		#menu .content {width:100px;}
		#menu .content div p {font-size:15px;}

		#output_chart {width:215px;}
		#output_chart .order {width:100px;}
		#output_chart .order div p {font-size: 15px;}

	}


